body{
    background-color: rgb(104, 47, 197);
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
input.consult{
    margin: 10px;
    border-radius: 20px;
    color: white;
    background-color: black;
}
